@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.header-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0), #121212), url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px 0px;
}
.header-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-title {
    font-size: 65px;
    color: white;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    width: 80%;
}
.header-txt {
    font-size: 18px;
    font-family: Inter;
    color: white;
    width: 55%;
    text-align: center;
    margin: 20px 0 30px;
}
.header-btn {
     background-color: #FF5959;
     color: white;
     width: auto;
     height: auto;
     border-radius: 5px;
     padding: 16px 20px;
     font-size: 20px;
     font-weight: 600;
     border: none;
}
.header-btn:hover {
    cursor: pointer;
    color: #FF5959;
    background-color: rgb(241, 241, 241);
}
/* Section 2 */
.section2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px 0;
}
.sec2-txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2-title {
    font-size: 45px;
    color: #121212;
    font-weight: bold;
    text-align: center;
}
.sec2-txt {
    color: #707070;
    font-size: 18px;
    text-align: center;
    width: 55%;
    margin: 20px 0 50px;
}
.sec2-select {
    display: flex;
    margin-bottom: 60px;
    gap: 30px;
}
.sec2-select-box {
    width: 135px;
    height: 123px;
    background-color: #fafafa;
    border-radius: 5px;
    color: #707070;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.sec2-select-box:hover {
    background-color: rgba(255, 238, 238, 1);
    color: #FF5959;
    border: 2px solid #FF5959;
    cursor: pointer;
}
.sec2-mini-txt {
    color: #b3b3b3;
    font-size: 18px;
}
.sec2-hr {
    width: 70%;
    border: 1px solid #dadada;
    margin: 10px 0 30px;
}
/* Section 3 */
.section3-container {
    margin-bottom: 130px;
}
.sec3-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    gap: 24px;
}
.sec3-box {
    width: auto;
    height: auto;
    padding: 50px 23px;
    border-radius: 5px;
    background-color: rgba(79, 157, 166, 0.1);
}
.sec3-box-title {
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin: 30px 0 16px;
}
.sec3-box-txt {
    color: #707070;
    font-size: 16px;
}



/* Small Device */
@media screen and (max-width: 576px) {
    .header-container {
        height: auto;
        padding: 30px;
    }    
    .header-title, .header-txt {
        width: auto;
        text-align: left;
    }
    .header-txt-container {
        align-items: start;
    }

    .sec2-select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .sec2-select-box {
        margin: 10px;
    }
    .sec2-txt {
        width: 90%;
    }

    .sec3-boxes {
        flex-direction: column;
        margin: 0 50px;
    }
}
/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 868px) {
    .header-container {
        height: auto;
        padding: 50px;
    }  
    .header-title, .header-txt {
        width: auto;
    }

    .sec2-select {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }
    .sec2-select-box {
        margin: 10px;
    }
    .sec2-txt {
        width: 70%;
    }

    .sec3-boxes {
        flex-direction: column;
        margin: 0 100px;
    }
}